body{
	font-size:14px;
	font-family: "微软雅黑";
	background: #f2f2f2;
}
#register{
	width: 322px;
	margin:85px auto;
}
h1{
	font-size: 50px;
	text-align: center;
	color:#42494c;
	line-height: 100px; 
}
#register #caption{
	width: 303px;
	margin:17px 0px;
	border-bottom: 2px solid #eaeaea;
	border-right: 1px solid #e5e5e5;
}
#register #caption span{
	display: block;
	width: 303px;
	height:40px;
	line-height: 43px;
	padding-left: 17px;
	background:url(../img/login_caption_bg.png)no-repeat;
	background-color: #fff;
}
#register .register_form{
	height:262px;
	padding-top: 31px;
	background-color: #fff;
}
#register input{
	width: 264px;
	height:33px;
	background:#fbfbfb;
	border:1px solid #ddd;
	font-size: 20px;
	padding:3px;
	margin:6px 24px 19px 24px;
}
#register .register_form span{
	color:777;
	display: block;
	margin-left: 24px;
}
#register .submit{
	margin-top: 25px;
	font-family: "微软雅黑";
	background:#00a0d2;
	border:1px solid #0073aa;
	color:#fff;
	cursor:pointer;
}
#register .footer{
	margin-top: 10px;
}
#register .footer a{
	color:#999;
}